@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Elektronska ucionica</h1>

<p>Koriscnenjem elektronske ucionice sa lakocom cete savladati gradivo koje je predvidjeno.</p>
<p>Dostupni su razliciti testovi iz svih predmeta kao i pitanja sa razlicitim nivoima tezine</p>
